nav
	ul.list.list-unstyled.list-inline
		li: a.btn.btn-default(href="home") Home
		li: a.btn.btn-default(href="about") About
		li: a.btn.btn-default(href="entry") Entry
		li: a.btn.btn-default(href="log") Data Log
		li: a.btn.btn-default(href="analysis") Reports
