template
	h4.section-title: span.inner Bike Workout
		.row.pad-10
			.col-md-2
			.col-md-8.form-group
				span.input-group
					label.input-group-addon(for="bike-distance") Distance:
					input.form-control(name="bike-distance" type="number" data-bind="bike-distance")
				span.input-group
					label.input-group-addon(for="bike-time") Duration:
					input.form-control(name="bike-time" type="number" data-bind="bike-duration")